<section class={{styles.chat-list}}>
    <header class= {{ styles.header }}>
        <div class= {{ styles.header-top-row}}>
            {{> Cross typeMode="add" outerStyles=styles.add-chat-btn }}
            <a href="./profile" class= {{ styles.profile-link }}>
                {{staticData.profileLink}}
                {{> IconInline icon=next outerStyles=styles.icon-next }}
            </a>
        </div>
        {{> Search placeholder=staticData.searchPlaceholder}}
    </header>
    <ul class={{styles.tabs}}>
        {{#each data}}
            <li class={{styles.tab}} id="{{this.id}}">
                {{> Tab data=this }}
            </li>
        {{/each}}
    </ul>
</section>
