<!--    от специализированного type="search" решил отказаться, сильно различается представление в различных браузерах-->
<label class="{{ styles.label }} {{ outerStyles }}">
    <input class="{{ styles.search }}" placeholder={{ placeholder }} type="text">
    <span class="{{styles.focus-search-icon}}"></span>
    <span class="{{styles.placeholder-wrapper}}">
            <span class="{{styles.placeholder}}">{{ placeholder }}</span>
    </span>
</label>
